<!-- add products -->
<div class="w3_login">
  <h3>Add Products</h3>
  <div class="w3_login_module">
      <div class="module form-module">
          <div class="form">
              <h2>Create Products</h2>
              <form>
                <select name="catId" ngModel>
                  <option value="">Please select Categories</option>
                  <option value="">
                    xxx
                  </option>
                </select>
                <input type="text" name="pdtName" placeholder="Product Name">
                <input type="number" name="pdtPrice" placeholder="Product Price">
                <input type="file" name="pdtImg">
               <textarea name="pdtDesc" cols="30" rows="5"></textarea>
                <input type="submit" value="Add Products">
              </form>
          </div>
      </div>
  </div>
</div>
<!-- //add products -->
