.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h6 {
    margin-left: 0.7em;
  }
  button {
    margin: 0 1em 1.5em 0;
    background: transparent;
    border: none;
    text-transform: uppercase;
    color: #212121;
    font-size: 1.5em !important;
    font: 400 calc(14px * 0.67) / 20px Roboto, "Helvetica Neue", sans-serif;
  }
}
.snipcart-thumb {
  min-height: 220px;
}
