@import "../../variables.scss";

input[type="tel"] {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid $input-border-color;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  transition: 0.3s ease;
  font-size: 14px;
}
