.checkout-left-basket ul li:nth-child(5) {
  font-size: 14px;
  color: #999;
  font-weight: 400;
  padding: 0;
  border: none;
  margin: 0 0 1em;
}
.checkout-left-basket ul li:last-child {
  font-size: 1em;
  color: #212121;
  font-weight: 600;
  padding: 1em 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 2em 0 0;
}
