/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-progress-spinner {
  position: fixed !important;
  left: 50%;
  top: 50%;
  circle {
    stroke: $spinner-color;
  }
}
input[type="submit"]:disabled {
  opacity: 0.5;
}
