$color1: #84c639;
$color2: #d9d9d9;
$color3: #ffffff;
$color4: #fa1818;
$color5: #ffc107;

$spinner-color: $color1;
$input-border-color: $color2;
$white: $color3;
$success: $color1;
$failure: $color4;
$warning: $color5;
